# global options
{
	admin off
	persist_config off
	auto_https off
	log {
		format json 
	}
	servers {
		trusted_proxies static private_ranges
	}
}

# Bloco de Redirecionamento na porta do Railway
:{$PORT} {
	log {
		format json
	}

	# Filtra a URL antiga (ex: projeto.up.railway.app)
	@antiga host {$URL_ANTIGA_RAILWAY}
	
	handle @antiga {
		# Redireciona permanentemente (301) para o novo domínio
		# O {uri} mantém o caminho (ex: /login continua /login)
		redir https://{$NOVO_DOMINIO_FRONTEND}{uri} permanent
	}

	# Caso chegue algo que não seja a URL antiga
	handle {
		abort
	}
}
